#documents-sidebar-wrapper {
  display: table-cell;
  width: 20%;
  vertical-align: top;
  word-wrap: break-word;

  h1 {
    padding: 22px 5% 22px 5%;
    line-height: 20px;
    font-size: 20px;
    font-weight: 700;
    color: #444;
    border-bottom: 3px solid #fbfbfb;
    background: #fff;
  }
}