#edtr {
  width: 800px;
  margin: 44px auto;
  padding: 22px;
  outline: 1px solid #fafafa;
  font-size: 1.125em;
  line-height: 1.5;

  .blck {
    margin-bottom: 0.75em;
    white-space: pre-wrap;
    font-size: 1em;
    line-height: 1.5;
    min-height: 1.5em;
    color: #999;

    &:last-child {
      margin-bottom: 0;
    }
    &.note {
      color: #999;
    }
    &.task {
      color: #333;
    }
  }
}