#edtr {
  width: 800px;
  min-height: 400px;
  margin: 44px auto;
  outline: 1px solid #efefef;
  font-size: 1.125em;
  line-height: 1.5;

  .blck {
    white-space: pre-wrap;
    font-size: 18px;
    line-height: 26px;
    min-height: 26px;
    color: #999;

    &.note {
      color: #999;
    }
    &.task {
      color: #333;
    }
  }
}