#edtr-wrapper {
  width: 640px;
  margin: 0 auto;

  #edtr {
    box-sizing: content-box;
    position: relative;
    width: 100%;
    height: 100%;
    top: -67px;
    padding-top: 78px;
    outline: none;
    font-size: 1.0em;
    line-height: 1.5;
    z-index: 100;

    .blck {
      position: relative;
      padding: 11px 3% 11px 3%;
      white-space: pre-wrap;
      color: #999;
      border-radius: 3px 0 0 3px;

      &.note {
        color: #888;
      }
      &.task {
        color: #333;

        &:before {
          display: block;
          position: absolute;
          left: 0;
          width: 30px;
          content: "";
        }
      }
      .-date {
        padding: 3px 5px;
        background: #efefef;
        border-radius: 3px;

        &:hover {
          background: #e0e0e0;
          color: #777;
        }
      }
    }
  }
}