@import "kouto-swiss";
box-sizing-reset();
font_sans_serif ='Lucida Grande', 'Verdana', 'Ubuntu', 'Arial', 'sans-serif';
font_monospace ='Monaco', 'Consolas', 'Ubuntu Mono', 'monospace';

.cf {
  clearfix();
}
body {
  background: #fff;
  font-family: font_sans_serif;
  font-size: 100%;
  line-height: 1;
}
@import "editor.styl"