'use strict';

// Copy this file to ./configs.js

module.exports = {
  api: {
    ws: {
      url: 'http://localhost:8888/channel'
    }
  },
  debug: {
    on: true,
    events: false,
    verbose: true
  },
  editor: {
    handle_extended_actions: false
  }
};